<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Software Engineering Project</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header>
            <h2>Software Engineering Project</h2>
        </header>
        <nav>
            <a href="#">home</a>
            <a href="#">log in</a>
            <a href="#">sign up</a>
        </nav>
        {% block content %}{% endblock %}
        {% block scripts %}{% endblock %}
    </body>
</html>
