{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
	<div class="resume-builder">
		<form class="rb-form" method="post" action="{% url 'resume-builder' %}">
			{% csrf_token %}

			<div id="education-form">
				<h3>Education</h3>
				{% for form in education_formset %}
					<div class="education-form-section">
						{{ form }}
					</div>
				{% endfor %}
			</div>

			<div id="experience-form">
				<h3>Experience</h3>
				{% for form in experience_formset %}
					<div class="experience-form-section">
						{{ form}}
					</div>
				{% endfor %}
			</div>

			<div id="skills-form">
				<h3>Skills</h3>
				{% for form in skills_formset %}
					<div class="skills-form-section">
						{{ form }}
					</div>
				{% endfor %}
			</div>

			<div id="awards-form">
				<h3>Awards</h3>
				{% for form in awards_formset %}
					<div class="awards-form-section">
						{{ form }}
					</div>
				{% endfor %}
			</div>

			<input type="submit" class="btn" value="Generate Resume"/>
			<style>label{display: none;}</style>
			{{ education_formset.management_form }}
			{{ experience_formset.management_form }}
			{{ awards_formset.management_form }}
			{{ skills_formset.management_form }}
		</form>
	</div>
{% endblock content %}

{% block scripts %}
	<script>
	    $(function() {
	        $('#education-form .education-form-section').formset({prefix: 'education'});
	        $('#experience-form .experience-form-section').formset({prefix: 'experience'});
	        $('#awards-form .awards-form-section').formset({prefix: 'awards'});
	        $('#skills-form .skills-form-section').formset({prefix: 'skills'});
	    })
	</script>
{% endblock %}
