{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}

{% block content %}
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-10">
				<form method="post" action="{% url 'resume-builder' %}">
					{% csrf_token %}
					{% for formset in formsets %}
						{{ formset.management_form }}
						<h3>{{ formset.prefix|title }}</h3>
						{% if formset.prefix == 'education' %}
							{% for i in existing.education %}
								{{ i }},
							{% endfor %}
						{% elif formset.prefix == 'experience' %}
							{% for i in existing.experience %}
								{{ i }},
							{% endfor %}
						{% elif formset.prefix == 'skills' %}
							{% for i in existing.skills %}
								{{ i }},
							{% endfor %}
						{% elif formset.prefix == 'awards' %}
							{% for i in existing.awards  %}
								{{ i }},
							{% endfor %}
						{% endif %}
						<table class="table" id="{{ formset.prefix }}-table">
							<thead>
								<tr>
									{% for field in formset.forms.0 %}
	                                    {% if field.label and not field|is_checkbox and not field.is_hidden %}
				                            <th for="{{ field.auto_id }}" scope="col" class="col-form-label {% if field.field.required %}requiredField{% endif %}">
				                                {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
				                            </th>
				                        {% endif %}
	                                {% endfor %}
								</tr>
							</thead>
							<tbody>
					            {% for form in formset %}
					                {% if form_show_errors and not form.is_extra %}
					                    {% include "bootstrap4/errors.html" %}
					                {% endif %}
					                <tr>
					                    {% for field in form %}
					                        {% include 'bootstrap4/field.html' with tag="td" form_show_labels=False %}
					                    {% endfor %}
					                </tr>
					            {% endfor %}
					        </tbody>
				        </table>
					{% endfor %}
					<div class="form-row justify-content-center">
						<div class="form-actions">
		                    <input type="submit" name="submit" value="Save" class="btn btn-primary" id="submit-save">
		                </div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock content %}

{% block scripts %}
	<script>
	    $(function() {
	        $('#education-table tbody').formset({prefix: 'education'});
	        $('#experience-table tbody').formset({prefix: 'experience'});
	        $('#skills-table tbody').formset({prefix: 'skills'});
	        $('#awards-table tbody').formset({prefix: 'awards'});
	    })
	</script>
{% endblock %}
